
body{background-color:white;
background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
background-size:50px 50px;
}


#wrapper{
	background-color:white;
  width:300px;
  margin:20px auto;
  padding:20px;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(0, 0, 0, .3);
  border: 1px solid #cc0000;
}

h1{
	
  text-align: center;
  color: #cc0000;
}
label{
float: left;
padding-right:10px;	
}
input[type=button] {
    vertical-align:middle;
    float:right;
    margin-bottom:10px;
    margin-right:1,5;
    margin-left:10px;
    background-color: #cc0000;
    color: #FFFFFF;
    width: 70px;
}
#shares {
    vertical-align:middle;
    margin-right:1,5;
    margin-left:10px;
    background-color: #cc0000;
    color: #FFFFFF;
    width: 150px;
}
#about {
    vertical-align:middle;
    margin-bottom:10px;
    margin-right:1,5;
    margin-left:10px;
    background-color: #cc0000;
    color: #FFFFFF;
    width: 150px;
}

#item {
    float:left;
    margin-bottom:5px;
} 
#labels {
     margin:2px; 
	 background:#cc0000; 
	 color:#ffffff;
	 text-align:center;
	 font-size:small;
}
#adds {
	 vertical-align:middle;
    float:left;
    margin-bottom:10px;
    margin-right:5px;
    margin-left:10px;
     margin-top:5px;
    background-color: #f44165;
     color: #FFFFFF;
      font-size:smaller;
}


#remove{
   float:right;
   margin-right:10px;
}
ul {
    list-style-type:none;
}
li {
    line-height:2;
}


